<div class="routes-container">
    <div class="routes-container__list">
        <header class="routes-container__header">
            <h1 class="routes-container__header-title">Действующие маршруты IPv4</h1>
        </header>
        <main class="routes-container__main">
            <header class="routes-container__grid-header">
                <h3 class="routes-container__grid-column-titile">Адрес назначения</h3>
                <h3 class="routes-container__grid-column-titile">Шлюз</h3>
                <h3 class="routes-container__grid-column-titile">Интерфейс</h3>
            </header>
            <ul class="routes-container__grid-content nostyle-list">
                <ng-container *ngFor="let item of routes; index as i;">
                    <li class="routes-container__grid-item">
                        {{item.address}}
                    </li>
                    <li class="routes-container__grid-item">
                        {{item.gateway}}
                    </li>
                    <li class="routes-container__grid-item">
                        {{item.interface}}
                    </li>
                </ng-container>
            </ul>
        </main>
        <footer class="routes-container__pagination">
            <ul class="routes-container__pages nostyle-list">

                <ng-container *ngFor="let pageNumb of pageNumbs">
                    <li class="routes-container__pages-item">
                        <span class="routes-container__page">{{pageNumb}}</span>
                    </li>
                </ng-container>
            </ul>

        </footer>
    </div>
</div>