<div class="routes-container">
    <div class="routes-container__list">
        <header class="routes-container__header">
            <h1 class="routes-container__header-title">Действующие маршруты IPv4</h1>
        </header>
        <main class="routes-container__main">
            <header class="routes-container__grid-header">
                <h3 (click)="sortByAddress()" [ngClass]="{'routes-container__grid-column-title': true,
                     'routes-container__grid-column-sort-asc': byAddress.sortType == 'asc',
                     'routes-container__grid-column-sort-desc': byAddress.sortType == 'desc'}">
                    Адрес назначения
                </h3>
                <h3 (click)="sortByGateway()" [ngClass]="{'routes-container__grid-column-title': true,
                     'routes-container__grid-column-sort-asc': byGateway.sortType == 'asc',
                     'routes-container__grid-column-sort-desc': byGateway.sortType == 'desc'}">
                    Шлюз
                </h3>
                <h3 (click)="sortByInterface()" [ngClass]="{'routes-container__grid-column-title': true,
                     'routes-container__grid-column-sort-asc': byInterface.sortType == 'asc',
                     'routes-container__grid-column-sort-desc': byInterface.sortType == 'desc'}">
                    Интерфейс
                </h3>
            </header>
            <ul class="routes-container__grid-content nostyle-list">
                @for (item of routes; track item; let idx = $index ){
                @if (idx >= range[0] && idx <= range[1]) { <!-- -->
                    <li class="routes-container__grid-item">
                        {{item.address}}
                    </li>
                    <li class="routes-container__grid-item">
                        {{item.gateway}}
                    </li>
                    <li class="routes-container__grid-item">
                        {{item.interface}}
                    </li>
                    }
                    }
            </ul>
        </main>
        <footer class="routes-container__pagination">
            <ul class="routes-container__pages nostyle-list">

                @for (pageNumb of pageNumbs; track $index; let idx = $index) {
                <!-- <ng-container *ngFor="let pageNumb of pageNumbs; index as i"> -->
                <li [ngClass]="{'routes-container__pages-item': true, 'routes-container__pages-item--active': idx + 1 == activePage}"
                    (click)="changePage(pageNumb); activePage = pageNumb">
                    <span class="routes-container__page">{{pageNumb}}</span>
                </li>
                }
                <!-- </ng-container> -->
            </ul>

        </footer>
    </div>
</div>